@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	list-style: none;
	overflow-x: hidden;
}
.hero {
	width: 100%;
	height: 100%;
	margin-top: 100px;
}
.header {
	width: 100%;
	height: 100px;
	background-color: ivory;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 100px;
}

.header h1 {
	font-weight: 700;
}

.header-sub {
	display: flex;
}

.header-sub-name {
	display: flex;
}

.header-sub-name > * {
	font-size: 16px;
	font-weight: 400;
	margin-right: 20px;
	border-bottom: 1px solid transparent;
}
.header-sub-name > *:hover {
	cursor: pointer;
	border-bottom: 1px solid black;
}

.header-cart {
	width: 60px;
	border-radius: 20px;
	background-color: black;
	fill: #fff;
}

.header-cart:hover {
	cursor: pointer;
}

.header-main {
}

.icon {
	width: 10px;
	height: 10px;
	fill: white;
}

.cart-count {
	/* width: 15px;
	height: 15px;
	padding: 5px;
	font-size: 12px;
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	border-radius: 50%; */
	color: white;
}

.shoping-grid {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	column-count: 3;
	align-items: center;
	justify-content: center;
	/* margin: 20px 100px; */
	grid-row-gap: 20px;
}

.shoping-card {
	width: 500px;
	padding: 20px;
}

.card-img {
	width: 300px;
	height: 500px;
	overflow: hidden;
	object-fit: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.shoping-card img {
	width: 100%;
	height: 200px;
}

.shoping-card p {
	color: #0e854b;
	font-weight: 700;
	font-size: 14px;
}

.shoping-card span {
	font-size: 14px;
}

.shoping-card h3 {
}

.card-img:hover {
	cursor: pointer;
}

.shoping-card span,
p,
h3:hover {
	cursor: pointer;
}

.btn-dark {
	width: 100%;
	height: 40px;
	background-color: black;
	color: #eee;
	font-size: 15px;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}

.btn-dark:hover {
	cursor: pointer;
}
